{:kotoba.app/id "cloud.itonami.isic-7410", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieyottqcpkoztxonfidkrrr4mpjbvo5iyrrng55jkialdo6ahhss4", :kotoba.app/embed-url "ipfs://bafkreieyottqcpkoztxonfidkrrr4mpjbvo5iyrrng55jkialdo6ahhss4", :published {:archive "https://kotobase.net/ipfs/bafkreieyottqcpkoztxonfidkrrr4mpjbvo5iyrrng55jkialdo6ahhss4", :size 7844, :put-status 201, :get-status 200, :at "2026-08-15T13:36:03.428Z"}}
